[Desktop Entry]
Encoding=UTF-8
Name=SKUCOIN
Comment=SKUCOIN P2P Cryptocurrency
Comment[fr]=SKUCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SKUCOIN, eşten eşe kriptografik sanal para birimi
Exec=skucoin-qt %u
Terminal=false
Type=Application
Icon=skucoin128
MimeType=x-scheme-handler/skucoin;
Categories=Office;Finance;
