[Unit]
Description=SKUCOIN's distributed currency daemon
After=network.target

[Service]
User=skucoin
Group=skucoin

Type=forking
PIDFile=/var/lib/skucoind/skucoind.pid

ExecStart=/usr/bin/skucoind -daemon -pid=/var/lib/skucoind/skucoind.pid \
          -conf=/etc/skucoin/skucoin.conf -datadir=/var/lib/skucoind

ExecStop=-/usr/bin/skucoin-cli -conf=/etc/skucoin/skucoin.conf \
         -datadir=/var/lib/skucoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
